<div class="floating-tools state-controls">
  <div class="group" [class.active]="isPointerState">
    <div class="category">
      <a href="#" (click)="pointer()">
        <i class="material-icons">near_me</i>
      </a>
    </div>
  </div>
  <div class="group" [class.active]="isGrabState">
    <div class="category">
      <a href="#" (click)="grab()">
        <i class="material-icons">touch_app</i>
      </a>
    </div>
  </div>
</div>