<div class="floating-tools zoom-controls">
  <div class="group percentage">
    <div class="category">
      {{percentage}}%
    </div>
  </div>
  <div class="group">
    <div class="category">
      <a href="#" (click)="zoomIn()">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
  <div class="group">
    <div class="category">
      <a href="#" (click)="zoomOut()">
        <i class="material-icons">remove</i>
      </a>
    </div>
  </div>
</div>