<div class="floating-tools activity-controls animated fadeInUp" [ngStyle]="{top: top, left: left}">
  <div class="group">
    <div class="category">
      <a href="#" (click)="settings()">
        <i class="material-icons">settings</i>
      </a>
    </div>
  </div>
  <div class="group">
    <div class="category">
      <a href="#" (click)="delete()">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </div>
</div>