<app-activity-drawer></app-activity-drawer>
<zoom-controls></zoom-controls>
<activity-selection-options *ngIf="selectedActivity" [coordinates]="selectedActivity.coordinates"
    [size]="selectedActivity.size"></activity-selection-options>