/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.floating-tools {
    position: fixed;
    border-radius: 2px;
    background-color: white;
    /* border: 1px solid #eee; */
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.floating-tools:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.floating-tools .group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-tools .group .category {
    padding: 10px;
}

.floating-tools .group.active {
    background-color: coral;
}

.floating-tools .group.active i {
    color: white;
    /* font-size: 24px; */
}

.floating-tools .group i {
    color: black;
    font-size: 16px;
}

.floating-tools .group i {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}